.cart-cotnainer {
}

.cart-header {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cart-logo {
  font-size: 2rem;
}

.cart-summary {
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.cart-summary-price {
  margin: 0 1rem;
  font-weight: 700;
}

.cart-wrapper {
  width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.35rem;
  background-color: white;
}

.cart-item-wrapper {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cart-image-wrapper {
  padding: 1rem;
}

.cart-image {
  margin: 0 1rem;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}

.cart-item-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.cart-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.cart-price {
  font-size: 1.2rem;
  padding: 0.25rem 0;
  color: var(--seconday-color);
  font-weight: 700;
}

.cart-select-wrapper {
  display: flex;
  flex-direction: row;
}

.cart-update-qty {
  margin-left: 0.5rem;
  padding: 0 2rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--seconday-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.cart-item-total {
  width: 100%;
  align-self: center;
  text-align: end;
  font-weight: 700;
  margin: 0 1rem;
}

.cart-footer {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.conti-shopping {
  color: black;
  font-size: 1.2rem;
}

.btn-cta {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--seconday-color);
  cursor: pointer;
}
