.layout-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.main-container {
  width: 100%;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  padding: 4rem;
}
